section(class="canvas front" id="front")

    div(class="content")

        h2 Did you miss me ?

        div

            p We are undergoing technical maintenance right now.
            p In the mean time you can check our work
                a(href="https://www.youtube.com/playlist?list=PLMJDAmxEdQVhdei7CaJZ6TpSVXcRzTHrB", target="_blank")  here


            //div

                //a(href="#section-2") Button 1
                //a(href="#section-3") Button 2

    //+nav-1({ target: "section-1", direction: "next" })
